# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EMAP_test\Django_forecast_api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
